
* {
  margin: 0;
  padding: 0;
}

header {
  padding-bottom: 200px;
  background-image: url('/assets/logo.svg');
  float:left
}

#heading{
  padding-top:60px;
  background-image: url('/assets/logo.svg'), url('/assets/header_bg.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#plusSign{
  display:inline-block;
  border: solid #F15A29 1px;
  width: 30px;
  height: 30px;
  font-size: 42px;
  padding: 0px;
  margin: 0px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  right: 15px;
  margin-top: 13px;
  color: #f0592b;
}

#plusSign:hover {
  color: white;
  background-color: #F15A29;
}

#content {
  background-image: url('/assets/bg.jpg');
  box-sizing: border-box;
}

#topMenu {
  list-style-type: none;
  width:100%;
  padding:10px;
  list-style:none;
  background-color:#39393b;
  text-align:center;
}

.guide {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  display:inline-block;
  margin:0;
}

.guide a {
  text-align:center;
  padding-right: 10px;
  margin:0;
  display:block;
  color: #797a7d;
  text-decoration: none;
}

.guide span {
  text-align:center;
  padding-right: 10px;
  margin:0;
  display:block;
  color: #797a7d;
  text-decoration: none;
}

#container {
  width: 700px;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  padding-top: 25px;
}

.posts {
  background-color: white;
  height: 400px;
  width: 325px;
  display: inline-block;
  margin: 12px 12px;
  padding: 25px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left;
  box-shadow: 0px 2px 15px #555555;
}

.imageDivs {
  height: 170px;
  width: 275px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}

.posts:hover {
  border: solid 5px #F59120;
  box-sizing: border-box;
  padding: 20px;
}

.titles {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-weight: 100;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 28px;        /* fallback */
  max-height: 56px;       /* fallback */
  margin: 10px 0px 0px 0px;
  padding: 0;
}

.details {
  font-family: 'Lato', sans-serif;
  color: grey;
  box-sizing: border-box;
  margin: 7px 0px 0px 0px;
  font-size: 14px;
}

footer {
  list-style-type: none;
  width:100%;
  margin:0 auto;
  padding-top: 5px;
  padding-bottom: 10px;
  list-style:none;
  background-color:#39393b;
  text-align:center;
}

.social {
  display:inline-block;
  margin:5px;
  padding:0;
}

.guide a:hover {
  color: #f0592b;
}

#facebookImg:hover {
  content: url('/assets/facebook_orange.svg');
}

#instagramImg:hover {
  content: url('/assets/instagram_orange.svg');
}

@media screen and (max-width: 800px) {

  header{
      padding-bottom: 200px;
      background-image: url('/assets/logo.svg');
      float:left
    }

  #heading{
    padding-top:60px;
    background-image: url('/assets/logo.svg'), url('/assets/header_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  #container {
    width: 700px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 75px;
    box-sizing: border-box;

  }

  footer {
    display: none;
  }
}

@media screen and (max-width: 700px){
  * {
    margin: 0;
    padding: 0;
  }

  header{
    padding-bottom: 200px;
    background-image: url('/assets/logo.svg');
    float:left
  }

  li {
    color: #797a7d;
    border-right: 1px solid #bbb;
    padding-right:10%;
  }

  li:last-child {
    border-right: none;
  }

  .guide span {
    display: none;
  }

  #heading{
    padding-top:60px;
    background-image: url('/assets/logo.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  #container{
    width: 100%;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
  }

  .posts {
    background-color: white;
    height: 435px;
    width: 500px;
    display: inline-block;
    margin-bottom: 0px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
  }

  .imageDivs {
    height: 320px;
    width: 450px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
  }


/* .posts{
  background-color: white;
  height: 435px;
  width: 435px;
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  overflow: auto;
  text-align: left;
}
 */
  footer{
    display: none;
  }
}
