/*$variablepadding:*/
#content {
  background-image: url("/assets/bg.jpg");
  /*background-size: cover;*/
  box-sizing: border-box; }

#container {
  width: 700px;
  /*background-color: green;*/
  text-align: center;
  margin: auto;
  box-sizing: border-box; }

.posts {
  background-color: white;
  height: 400px;
  width: 325px;
  display: inline-block;
  margin: 12px 12px;
  padding: 25px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: left; }

.imageDivs {
  height: 168px;
  width: 275px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center; }

.titles {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box; }

.details {
  font-family: 'Lato', sans-serif;
  color: grey;
  box-sizing: border-box; }

@media (min-width: 800px) {
  #content {
    text-align: center; } }
